@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    background: rgb(171,5,52);
    color: white;
    box-shadow: 0 0px 4px -2px black;
    height: 100px;
    width: 100%;
    z-index: 4;
}

.centred-layout{
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.logo{
    display: inline-block;
    font-size: 48px;
    color: white;
    height: 48px;
    font-family: 'Roboto', sans-serif;
}

.header__logo{
    padding: 26px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.menu{
    display: inline-block;
    height: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu a{
    color: white;
    padding: 20px;
}

.header__menu{
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 240px;
}

.header__right-container{
    display: inline-block;
    /* width: 300px; */
    height: 20px;
    padding: 40px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.header__right-container a{
    color: white;
}

.header__right-container div{
    display: inline-block;
}

.shop{
    display: inline-block;
    padding: 0 20px;
}

.search-form{
    display: inline-block;
    position: relative;
}

.search-input{
    border-radius: 20px;
    border: 0;
    outline: none;
    padding: 2px 30px 2px 10px;
}

.search{
    position: absolute;
    top: 2px;
    right: 4px;
    background: transparent;
    border: 0;
    color:rgb(171,5,52);
    outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

.header__register-login-container{
    padding-left: 20px;
}

.icon-sign-in::before,
.icon-user::before{
    padding: 0 5px;
}

/* ///////////////////////////////////////// */

.slider{
    background: rgb(171,5,52);
    height: 900px;
    position: relative;
    margin-top: 100px;
}

.slider__title,
.slider__text,
.slider_button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white
}

.slider__title{
    font-size: 48px;
    text-align: center;
}

.slider__text{
    top: 100px;
}

.slider_button{
    display: block;
    top: 200px;
    width: 220px;
    background:  rgb(171,5,52);
    box-shadow: 0 2px 5px -2px black;
    border: 0;
    outline: none;
    text-align: center;
    border-radius: 28px;
    padding: 18px 0;
}

.slider_button:hover{
    background: white;
    color: rgb(171,5,52);
}

.slider__image{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

/* ////////////////////////// */

.categories{
    background: rgb(244,248,255);
    padding: 100px 0;
}

.categories__title{
    padding-bottom: 80px; 
}

.categories__title>h2{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    position: relative;
    margin: 0;
}

.categories__title>h2::before{
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background: black;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}


.categories__cell-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 380px;
}

.categories__cell{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 175px;
    flex-basis: 175px;
    margin: 5px;
}

.categories__cell::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 140px;
    background: rgb(171,5,52);
}

.categories__cell::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 140px;
    background: rgb(171,5,52);
}

.categories__name{
    display: block;
    font-size: 18px;
    text-align: center;
    color: rgb(51,51,51);
}

.categories__name::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 140px;
    background: rgb(171,5,52);
}

.categories__name::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 140px;
    background: rgb(171,5,52);
}

.categories__cell:hover{
    background: rgb(171,5,52);
}

.categories__cell:hover span{
    color: white;
}

.categories__icon{
    height: 36px;
    width: 36px;
    font-size: 36px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: rgb(171,5,52);
}

/* /////////////////////////////////////// */

.cards{
    font-family: 'Roboto', sans-serif;
    padding: 110px 0;
}

.cards__header{
    display: flex;
    justify-content: space-between;
}

.cards__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
}

.card{
    width: 360px;
    overflow: auto;
    position: relative;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 8px -4px rgb(129, 127, 127);
}

.card:hover{
    box-shadow: 0px 0px 30px -4px rgb(129, 127, 127);
}


.card__image::before{
    content: "";
    background: rgba(171,5,52,0.5);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 180px;
}

.card::before{
    content: "";
    display: none;
    background: white;
    width: 60px;
    height: 3px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%); 
    z-index: 3;
    
}

.cards__title{
    width: 370px;
    font-size: 14px;
    line-height: 24px;
}

.cards__title>h2{
    font-size: 30px;
    margin-top: 0;
}

.cards__title>p{
    margin: 0;
    color: rgb(51,51,51);
}

.button-view-more{
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 30px;
    width: 160px;
    height: 20px; 
    text-align: center;
    align-self: flex-end;
    color: black;
    padding: 16px 0;
}

.button-view-more:hover{
    background: rgb(171,5,52);
    color: white;
}

.card__image{
    width: 360px;
    height: 180px;
}

.card::after{
    content: "";
    display: none;
    background: white;
    width: 3px;
    height: 60px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%); 
    z-index: 3;
}

.card:hover .card__image::before,
.card:hover:before,
.card:hover::after{
    display: block;
}

.card__description{
    padding: 30px;
    min-height: 240px;
    flex-grow: 2;
}

.card__title{
    line-height: 1.25;
    color: black;
}

.card__text{
    line-height: 24px;
    font-size: 14px;
    color: rgb(51,51,51);

}

.cost{
    color: rgb(171,5,52);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.rating{
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: rgb(237, 128, 0);
}

.rating__input{
    display: none;
}

.image_photography{
    background-image: url("../images/photography.jpg");
    background-size: cover;
    background-position-y: -20px;
}

.image_lifestyle{
    background-image: url("../images/lifestyle.jpg");
    background-size: cover;
    background-position-y: -50px;
}

.image_language{
    background-image: url("../images/language.jpg");
    background-size: cover;
    background-position-y: -50px;
}

.image_freelance{
    background-image: url("../images/freelancing.jpg");
    background-size: cover;
    background-position-y: -50px;
}

.image_guitar{
    background-image: url("../images/guitar.jpg");
    background-size: cover;
    background-position-y: -20px;
}


.image_math{
    background: rgb(237, 241, 247);
    background-image: url("../images/math.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
}

/* ////////////////////////////////////////// */

.popular-courses{
    background: rgb(247,249,250);
    padding: 100px 0;
    font-family: 'Roboto', sans-serif;
}

.popular-courses__title>h2{
    width: 450px;
    font-size: 30px;
    margin-top: 0;
}

.popular-courses__title>p{
    width: 370px;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.popular-courses__main{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.top-rated-course{
    background: rgb(219, 28, 124);
}

.top-rated-course:hover{
    background: rgb(192, 24, 108);
    /* background-image: url("../images/popular-course-background.png"); */
}

.trending-course{
    background: rgb(108,22,199);
}

.trending-course:hover{
    background: rgb(95, 19, 177);
    /* background-image: url("../images/popular-course-background.png"); */
}

.new-and-noteworthy-course{
    background: rgb(37,22,199);
}

.new-and-noteworthy-course:hover{
    background: rgb(32, 20, 172);
    /* background-image: url("../images/popular-course-background.png"); */
}

.top-rated-course:hover,
.trending-course:hover,
.new-and-noteworthy-course:hover{
    background-image: url("../images/popular-course-background.png");
}

.popular-courses__course{
    display: block;
    background-image: url("../images/popular-course-background.png");
    color: white;
    font-size: 24px;
    width: 360px;
    height: 65px;
    text-align: center;
    font-weight: bold;
    padding-top: 35px;
    z-index: 2;
}

/* ///////////////////////////////////////// */

.best-sellers-course{
    box-shadow: 0 2px 0 0 rgb(229, 229, 229);
}

.image_word-press{
    background-image: url("../images/word-press.jpg");
}

.image_web-development{
    background-image: url("../images/web-development.jpg");
}

.image_design{
    background-image: url("../images/design.jpg");
    background-position-y: -20px;
}

.image_hacking{
    background-image: url("../images/hacking.jpg");
}

.image_networking{
    background-image: url("../images/networking.jpg");
}

.image_digital-marketing{
    background-image: url("../images/digital-marketing.jpg");
    background-position-x: -190px;
}

/* ///////////////////////////// */

.alt-card{
    width: 380px;
    overflow: auto;
    position: relative;
    margin: 20px 0;
    box-shadow: 0px 2px 4px -2px rgb(129, 127, 127);
}

.alt-card:hover{
    box-shadow: 0px 0px 20px -4px rgb(129, 127, 127);
}

.alt-card__image{
    width: 380px;
    height: 140px;
}

.alt-card__description{
    padding: 0 30px 40px;
    text-align: center;
}

.alt-card__description>p{
    line-height: 24px;
    font-size: 14px;
    color: rgb(51,51,51);
}

.image_Expand-Skill-Development{
    background-image: url("../images/Expand-Skill-Development.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.image_Self-Learn{
    background-image: url("../images/Self-Learn.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.image_Tech-Jobs{
    background-image: url("../images/Tech-Jobs.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.image_Unlock-Your-Potential{
    background-image: url("../images/Unlock-Your-Potential.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.image_Explore-Your-Passion{
    background-image: url("../images/Explore-Your-Passion.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.image_Analytics-Work{
    background-image: url("../images/Analytics-Work.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* ///////////////////////////////////// */

.client-appreciation{
    font-family: 'Roboto', sans-serif;
    background: rgb(247, 249, 250);
    padding: 100px 0 50px;
}

.client-appreciation__title{
    width: 370px;
    font-size: 14px;
    line-height: 24px;
}

.client-appreciation__title>h2{
    font-size: 30px;
    margin-top: 0;
}

.client-appreciation__title>p{
    margin: 0;
    color: rgb(51,51,51);
}

.client-appreciation__main{
    display: flex;
    margin-top: 80px;
    box-shadow: 0 2px 0 0 rgb(237, 241, 242);
}

.client-appreciation__recall{
    flex-basis: 50%;
    box-shadow: 2px 0 0 rgb(237, 241, 242);
    padding-bottom: 100px;
}

.client-appreciation__text{
    width: 420px;
    height: 150px;
    background-image: url("../images/quotes.png");
    background-repeat: no-repeat;
    padding: 34px 36px;
    color: rgb(51,51,51);
    font-size: 18px;
    font-style: italic;
    line-height: 1.5;
    margin: 0;
}

.client-appreciation__image{
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}

.client-appreciation__name,
.client-appreciation__specialty{
    margin: 0;
}

.client-appreciation__name{
    font-size: 16px;
    padding: 26px 0 10px;
}

.client-appreciation__specialty{
    color: rgb(51,51,51);
    font-size: 13px;
}

.client-appreciation__video{
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    padding-bottom: 100px;
}

.client-appreciation__video>iframe{
    border: 10px solid rgb(237, 241, 242);
    border-radius: 10px;
}

.slider-logo__box{
    padding: 50px 0; 
}

.slider-logo__title{
    color: black;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

.slider-logo__main{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.slider-logo__link{
    outline: none;
}

.slider-logo__image{
    width: 200px;
    margin: auto;
}

.slick-prev:before,
.slick-next:before{
    color: rgb(200, 206, 210);
    font-size: 50px;
    opacity: 1;
    line-height: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '\2039';
}
[dir='rtl'] .slick-prev:before
{
    content: '	\203A';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '\203A';
}
[dir='rtl'] .slick-next:before
{
    content: '\2039';
}

/* /////////////////////////////////////// */

.our-blog{
    font-family: 'Roboto', sans-serif;
}

.card__slider{
    margin: 20px;
}

.card__slider:hover{
    box-shadow: 0 0 10px 0 rgb(129, 127, 127);
}

.image_blog-1{
    background-image: url("../images/blog-1.jpg");
    background-position: -100px -130px;
}

.image_blog-2{
    background-image: url("../images/blog-2.jpg");
    background-position-y: -45px;
}

.image_blog-3{
    background-image: url("../images/blog-3.jpg");
    background-position-y: -30px;
}

.card__date,
.card__author,
.card__like,
.card__comment{
        display: inline-block;
        color: rgb(102, 102, 102);
        margin: 0;
}

.card__date{
    padding-right: 80px;
}

.card__read-more{
    color: rgb(171,5,52);
    font-weight: bold;
    padding-right: 50px;
}

.card__like,
.card__comment{
    padding-left: 20px;
}

.slick-dots li button:before{
     content: "";
     display: block;
     width: 12px;
     height: 12px;
     background: transparent;
     border-radius: 50%;
     border: 2px solid rgb(53, 52, 52);
     opacity: .5;
}

.slick-dots li.slick-active button:before
{
    opacity: .75;
    background: rgb(53, 52, 52);
    border-color: rgb(53, 52, 52);
}

.card__icon-calendar::before{
    content: "";
}

.card__icon-heart::before{
    content: "";
    padding: 5px;
    font-size: 14px;
}

.card__icon-commenting-o::before{
    content: "";
    padding: 5px;
}

/* /////////////////////////////////// */

@keyframes black-and-white{
    0%{
        filter: grayscale(100%);
    }

    100%{
        filter: grayscale(0);
    }
}

.instructor{
    font-family: 'Roboto', sans-serif;
    padding: 50px 0;
    background-image: url(../images/instructor.jpg);
    background-position: -300px -520px;
    /* animation: black-and-white 1s 1 linear;
    filter: grayscale(100%);
    animation-play-state: paused; */
}

/* .instructor:hover{
    animation-fill-mode: forwards;
    animation-play-state: running;
} */

.instructor__title{
    text-align: center;
    font-family: monospace;
    font-size: 36px;
}

.instructor__main{
    display: flex;
    justify-content: space-between;
    background: white;
    width: 680px;
    height: 70px;
    border-radius: 50px;
    margin: 50px auto;
}

.instructor__text{
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.button-join{
    display: flex;
    background: rgb(171,5,52);
    color: white;
    height: 100%;
    width: 200px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold; 
    letter-spacing: 2px;
    border-radius: 50px;
}

/* ///////////////////////////// */

footer{
    background: rgb(41,38,98);
    color: white;
    padding: 50px 0;
    font-family: 'Roboto', sans-serif;
}

.footer__centred-layout{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}

.footer__start{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    box-shadow: 0 1px 0 0 rgb(73, 70, 121);
}

.contacts{
    width: 250px;
}

.phone{
    font-size: 18px;
}

.title-bold{
    font-weight: 600;
}

.help-center,
.about-us,
.tools,
.get-in-touch{
    display: flex;
    flex-direction: column;
}


.communication a,
.address p,
.help-center a,
.about-us a,
.tools a,
.get-in-touch a{
    display: block;
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0;
}

.address p{
    line-height: 26px;
}

.email a,
.website a{
    display: inline-block;
}

.footer__end{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.social-network>a{
    color: white;
    font-size: 16px;
}

.icon-facebook2::before,
.icon-twitter::before,
.icon-instagram::before,
.icon-linkedin::before,
.icon-google-plus3::before{
    padding: 0 5px;
    font-size: 18px;
}

.copyright>span{
    font-size: 14px;
}

